
.header {
    height: 60px;
    width: 100vw;
    display: flex;
    background-color: #24426b;
    font-family: Arial, Helvetica, sans-serif;
    /*border: solid black;*/
}

.logo {
    height: 60px;
    width: 49vw;
    font-size: 48px;
    color: #F9FAF8;
    padding-left: 150px;
    /*border: solid blue;*/
}

.links {
    height: 60px;
    width: 49vw;
    display: inline-flex;
    font-size: 18px;
    color: #E5E7E8;
    flex-direction: row-reverse;
    /*border: solid red;*/
}

.linkOne, 
.linkTwo, 
.linkThree {
    height: 30px;
    width: 100px;
    margin: 5px;
    /*border: solid green;*/
}

.linkTwo {
    padding-left: 10px;
}

.linkThree {
    padding-right: 150px;
}

